.header {
    display: flex;
    justify-content: space-around;
    text-align: center;
    max-width: 1440px;
    margin: 40px auto;

    &__logo-image {
        width: 110px;
        height: 30px;
        transition: 0.3s;

        &:hover {
            cursor: pointer;
            transform: scale($hover-scale);
        }
    }

    &__nav {
        ul {
            display: flex;
            gap: $gap-large;
            list-style: none;
        }

        &-item {
            transition: 0.3s;

            a {
                text-decoration: none;
                color: inherit;
            }

            &:hover {
                color: $primary-color;
                cursor: pointer;
            }
        }
    }

    &__social-list {
        display: flex;
        gap: $gap-medium;
        list-style: none;
    }

    &__social-item {
        transition: color 0.3s ease, transform 0.3s ease;
        cursor: pointer;
        color: $default-color;

        &--facebook:hover,
        &--twitter:hover,
        &--instagram:hover {
            color: $primary-color;
            transform: scale($hover-scale);
        }
    }
}